:root {
  --primary-bg-color: rgba(67, 49, 73, 1);
  --primary-color-transparent: rgba(67, 49, 73, 0.83);
  --secondary-bg-color: rgba(141, 167, 169, 1);
  --secondary-color-transparent: rgba(141, 167, 169, 0.43);
  --primary-font-color: #ffffff;
  --heading-font: "League Script", cursive;
  --default-font: "Raleway", sans-serif;
  --special-font: "Raleway Dots", cursive;
  --drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
body {
  background: var(--primary-color-transparent);
  text-align: center;
  font-family: var(--default-font);
  color: var(--secondary-color-transparent);
}
h1 {
  font-size: 96px;
  font-family: var(--special-font);
  color: var(--primary-font-color);
}
.navbar-brand {
  font-size: 32px;
  font-family: var(--special-font);
  color: var(--primary-font-color);
  padding-left: 20px;
}
nav ul {
  margin-top: 8px;
}
ul {
  font-size: 16px;
}
nav li {
  font-size: 18px;
}
.nav-link:hover {
  color: var(--secondary-bg-color) !important;
  transition: all 100ms ease-in-out;
}
.nav-link {
  color: var(--secondary-color-transparent) !important;
  margin-left: 8px;
}
.active {
  color: var(--secondary-bg-color) !important;
}
.hero {
  padding: 50px;
  background: var(--primary-bg-color);
  margin-bottom: 50px;
}
h2 {
  font-size: 32px;
  font-weight: 500;
}
h3 {
  line-height: 2;
  font-size: 24px;
  font-weight: 400;
}
div {
  font-size: 30px;
  font-weight: 500;
}
h4 {
  color: var(--secondary-bg-color);
  font-size: 24px;
}
h5 {
  color: var(--primary-font-color);
}
p {
  font-size: 16px;
  font-weight: 300;
  color: var(--primary-font-color);
  line-height: 2;
}
.about p {
  line-height: 2.5;
}
img {
  border-radius: 0px;
  box-shadow: var(--drop-shadow);
}
.medium img {
  max-width: 90%;
}
.medium h3 {
  font-weight: 500;
  font-size: 22px;
}
.project {
  color: var(--secondary-bg-color);
}
.sub-title {
  font-weight: 500;
  font-size: 18px;
  color: var(--primary-font-color-color-transparent);
}
.brief {
  line-height: 2.2;
  font-size: 16px;
}
.btn-interest {
  padding: 15px 30px;
  background-color: var(--secondary-color-transparent);
  border: none;
  font-size: 18px;
  border-radius: 0;
}
.btn-contact {
  margin: 40px auto;
  padding: 15px 30px;
  color: var(--secondary-bg-color);
  font-size: 20px;
  border-radius: 0;
}
.square-card {
  background: var(--primary-color-transparent);
  box-shadow: var(--drop-shadow);
  color: var(--primary-font-color);
  padding: 15px;
  margin: 20px auto;
  border-radius: 0;
}
.list-group-item {
  background-color: var(--primary-color-transparent);
  color: var(--secondary-bg-color);
}
.contact a {
  color: var(--primary-font-color);
  font-size: 18px;
}
.contact p {
  color: var(--secondary-bg-color);
  font-weight: 400;
}
footer a {
  color: var(--secondary-bg-color);
  font-size: 18px;
  text-decoration: none;
}
footer a:hover {
  color: var(--primary-bg-color);
  transition: all 100ms ease-in-out;
}
footer .social-media {
  margin-top: 14px;
}
footer .icon {
  font-size: 20px;
  background: var(--secondary-color-transparent);
  padding: 10px 14px;
  border-radius: 50%;
}
.open-sourced {
  font-size: 16px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 48px;
    text-align: center;
  }
  h2 {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
  }
  h3 {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
  }
  div {
    font-size: 20px;
    font-weight: 500;
  }
  img {
    margin-bottom: 20px;
  }
  p {
    line-height: 2;
    text-align: center;
    font-size: 16px;
  }
  .btn-contact {
    font-size: 16px;
    display: block;
  }
  .brief {
    display: none;
  }
  .medium img {
    max-width: 100%;
  }
  .medium h3 {
    font-size: 18px;
    margin-top: 5px;
  }
  .btn-interest {
    font-size: 16px;
    display: block;
  }
  .contact h1 {
    font-size: 44px;
  }
  .contact h4 {
    text-align: center;
  }
  footer .social-media {
    margin-top: 22px;
    margin-bottom: 38px;
  }
  footer .icon {
    font-size: 16px;
    background: var(--secondary-color-transparent);
    padding: 8px 10px;
    border-radius: 50%;
  }
  .project-credit {
    padding: 12px 40px;
  }
}
